:root {
  --app-purple: #7c3aed;
  --app-purple-soft: #f3e8ff;
  --app-success: #10b981;
  --app-bg: #f6f7fb;
  --app-surface: #ffffff;
  --app-border: #e9edf5;
  --app-text: #0f172a;
  --app-muted: #64748b;
  --app-muted-bg: #f7f9fc;
  --app-shadow: 0 10px 24px rgba(15, 23, 42, 0.04);

  /* Element Plus CSS variables overrides */
  --el-color-primary: var(--app-purple);
  --el-border-radius-base: 12px;
  --el-border-radius-round: 999px;
  --el-border-color: var(--app-border);
  --el-text-color-primary: var(--app-text);
  --el-text-color-regular: var(--app-muted);
  --el-bg-color: var(--app-surface);  
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  color: var(--app-text);
  background: var(--app-bg);
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'PingFang SC', 'Microsoft YaHei',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Element Plus polish */
.el-card {
  border-radius: 14px;
}

.el-menu {
  border-right: none;
}

.el-tag.is-round {
  border-radius: 999px;
}

.el-button--primary {
  --el-button-bg-color: var(--app-purple);
  --el-button-border-color: var(--app-purple);
  --el-button-hover-bg-color: var(--app-purple);
  --el-button-hover-border-color: var(--app-purple);
}
.el-button:focus-visible {
  /* outline: 2px solid var(--app-purple); */
  outline: none;
  border: 1px solid var(--app-purple);
}
.el-button:hover{
  color: var(--app-purple);
  border-color: var(--app-purple);
  background-color: var(--app-purple-soft);
}

/* Utilities */
.u-muted {
  color: var(--app-muted);
}
.el-dropdown-menu__item:hover {
  background-color: var(--app-purple-soft);
  color: var(--app-purple);
}
